body{
    margin:0;
}
/*#first_section{
    background-color:rgba(255,106,0,0.2);
}*/
#imgs {
    margin-bottom: 50px;
    padding: 40px;
}
#all_image_select_section{
    display:flex;
    padding:20px;
}
#profilesection {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    border-radius: 50%;
    background-repeat: no-repeat;
    margin-right:50px;
}
#profilesection:hover{
    cursor:grab;
}
.provided_image {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px double black;
    transition: border 0.2s ease;
    object-fit: contain;
    padding:2px;
}
.provided_image:nth-child(5){
     border:4px solid transparent; /*this provides the thickness of the border image the order is important*/
     border-image: url(images/color_stripe.jpg) 20% stretch repeat;

}
.provided_image:hover{
    border:darkorange 4px solid;
    cursor:pointer;
}
#provided_images{
    display:flex;
    flex-wrap:wrap;
    width:800px;
    padding:20px;
    justify-content:center;
    box-sizing:border-box;
}
/*profiletextsection*/
#profile_text{
    padding:40px;
}
#profile_text label{
    text-indent:10px;
    font-size:17px;
    margin-bottom:2px;
}
#profile_component{
    display:flex;
    flex-direction:column;
}
#profile_component input{
    outline:none;
    border: 1px solid rgba(0,0,0,0.6);
    transition:border ease 0.3s;
}
#profile_component input:focus{
    border:2px solid rgba(0,0,0,0.8);
    box-shadow: -1px 0 2px, 0 -1px 1px, 1px 0 1px, 0 1px 1px;
}
#profile_imageaddition{
    display:flex;
    justify-content:flex-end;
}
#welcome_text_container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
#welcome_text_container label{
    text-align:unset;
    text-indent:10px;
}
#profile_welcome_textinput {
    display: block;
    width:100%;
    height: 30px;
    font-size: 22px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}
#main_text_section {
    display: flex;
    flex-direction: column;
}
#name_title_section {
    display: flex;
    width:50%;
    flex-direction: column;
    margin-bottom:20px;
}
#profile_nameinput{
    font-size:16px;
    height:24px;
    margin-bottom:10px;
    border:1px rgba(0,0,0,0.6) solid;
    border-radius:5px;
}
#profile_titleinput {
    font-weight: bold;
    height: 22px;
    font-size: 14px;
    border: 1px rgba(0,0,0,0.6) solid;
    border-radius: 5px;
    font-weight: bold;
}
#profile_longtext_container{
    display:flex;
    flex-direction:column;
}
#profile_textinput {
    resize: none;
    min-height: 100px;
    padding: 7px;
    outline: none;
    transition: border ease 0.3s;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 17px;
}
#profile_textinput:focus{
    border:2px solid rgba(0,0,0,0.8);
    box-shadow: -1px 0 2px, 0 -1px 1px, 1px 0 1px, 0 1px 1px;
}
/*the proficiency table starts here*/
#table_section{
    padding:40px;
}
#table_section input{
    border:none;
    height:18px;
    font-size:16px;
    border-left:1px rgba(0,0,0,0.1) solid;
    padding-left:5px;
    transition:border-left ease 0.2s;
}
#table_section input:focus{
    border:none;
    border-left:3px rgba(0,0,0,0.4) solid;
    outline:none;
}
#proficiency_insert_table{
    display:flex;
    flex-direction:column;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
}
#table__insert_descriptors{
    display:flex;
    margin-bottom:20px;
}
#table__insert_descriptors span{
    width:45%;
    font-size:25px;
    margin-left:10px;
    border-bottom:1px solid rgba(0,0,0,0.5);
}
.talent_input_row {
    padding: 2px;
    display: flex;
}
.talent_input_row input{
    width: 45%;
    height:20px;
    font-size:18px;
    margin-bottom:10px;
}
.talent_input{
    margin-right:5px;
    width:45%;
}
.level_input {
    
}
.add_row_div {
    position: relative; /*in order to assure the aboslutely positioned button works properly*/
    margin-top:20px;
}
.add_row_button {
    position:absolute;
    left:-35px;
    border-radius:50%;
    outline:none;
    background-color:rgba(0, 38, 255, 0.5);
    transition:all 0.2s ease;
}
.add_row_button:hover{
    background-color:rgba(0, 38, 255, 0.7);
    color:white;
    cursor:pointer;
}
.add_row_text{
    color:rgba(0,0,0,0.7);
    text-align:center;
}
/*carousel section*/
#carousel_section{
    padding:40px;
    
}
#carousel_zoom_image{
    display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    padding:10px;
    box-sizing:border-box; /*this provides the padding to work properly*/
    background-color:rgba(0,0,0,0.85);
    z-index:999;
}
#carousel_zoom_image:hover{
    cursor:zoom-out;
}
#carousel_zoomed_image{
    overflow:hidden;
    object-fit:scale-down;
    margin-left:auto; margin-right:auto; 
    animation:zoomed_img ease 0.3s;
}
@keyframes zoomed_img{
    0%{transform:scale(0.5,0.5)}
    100%{transform:scale(1,1)}
}
.carousel {
    position: relative;
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid blue;
}
#full_carousel_head{
    height:120px;
}
#carousel_image_addition_head {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    border-bottom:1px solid rgba(0,0,0,0.6);
}
#carousel_image_additionbut{
    display:inline-flex;
}
#carousel_image_addition_head span {
    font-size: 20px;
}
#carousel_added_head_images{
    padding:3px;
    height:90px;
    margin-top:5px;
    position:relative;
}
.remove_image_but{
    border-radius:50%;
    background-color:rgba(0,0,0,0.4);
    color:white;
    outline:none;
    position:absolute;
    left:80%;
    top:-5px;
    width:15px;
    height:15px;
    text-align:center;
}
.carouselhead_image_container {
    display: inline-flex;
    margin-right: 7px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 5%;
    position: relative;
}
.added_carouselhead_image {
    object-fit: contain;
    overflow: hidden;
    width: 50px;
    height: 50px;
}
.carousel_left_button {
    position: absolute;
    top: calc(50% - 80px);
    left: 0;
    padding: 10px;
    width: 50px;
    height: 80px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    z-index: 20;
}
.carousel_left_button button{
    cursor: pointer;
}
.carousel_right_button {
    position: absolute;
    top: calc(50% - 80px);
    right: 0;
    padding: 10px;
    width: 50px;
    height: 80px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    z-index:20;
}
.carousel_right_button button{
    cursor:pointer;
}
.carousel_index_buttons {
    width: 100px;
    padding: 5px;
    height: 25px;
    background-color: rgba(0,0,0,0.1);
    left:calc(50% - 35px);
    position:absolute;
    bottom:10px;
    display:flex;
    z-index:4;
    justify-content:space-around;
    align-items:center;
    border-radius:5px;
}
.carousel_index{
    height:15px;
    width:15px;
    border-radius:50%;
    background-color:rgba(0,0,0,0.6);
    border:1px black solid;
    outline:none;
    border:1px solid rgba(0, 0, 0, 0.2);
}
.carousel_index:hover{
    cursor:pointer;
    background-color:rgba(0,0,0,0.4)
}
.active_index {
    background-color: white;
}
.active_index:hover{
    background-color:white;
}
.carousel_main_image {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 400px;
}
.carousel_main_image:hover{
    cursor:zoom-in;
}
.carousel_main_image img{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:contain;
}
.center_image {
    margin: auto;
    transition: left 0.4s ease, right 0.4s ease;
}
.right_image {
    transition: left 0.4s ease, right 0.4s ease;
}
.left_image {
    transition: left 0.4s ease, right 0.4s ease;
}
/*Carousel section ends here Contact info starts*/
#contact_section{
    padding:40px;
}
#contact_input_main_container {
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.contact_input{
    display:flex;
    max-width:500px;
    min-width:470px;
    margin-right:25px;
    margin-bottom:35px;
    align-items:center;
    box-sizing:border-box;
}
.contact_input_image{
    width:150px;
    height:150px;
    overflow:hidden;
    margin-right:10px;
}
.contact_inputfield{
    width:250px;
    height:30px;
    font-size:20px;
    padding:5px;
    border:1px solid rgba(0,0,0,0.6);
    border-radius:4px;
    outline:none;
    transition:border ease 0.4s;
}
.contact_inputfield:focus{
    border:2px solid rgba(0,0,0,0.8);
    box-shadow: -1px 0 10px orange, 0 -1px 1px, 1px 0 1px, 0 1px 1px;
}
.essential_contact_row{
    display:flex;
    margin-left:15px;
    margin-right:15px;
    justify-content:space-evenly;
}
.essential_input{
    display:flex;
    flex-direction:column;
}
.essential_input input{
    width:350px;
    height:21px;
    font-size:17px;
    padding:3px;
}
.essential_input label{
    margin-bottom:4px;
    font-size:17px;
    font-weight:600;
}
#submit_page_button {
    width: 100px;
    height: 100px;
    border: 1px rgba(0,0,0,0.4);
    border-radius: 2px;
    outline: none;
    color:rgba(0,0,0,0.3);
    background-color: rgba(255,165,0, 0.7);
    transition:all ease 0.2s;
}
#submit_page_button:hover{
    background-color: rgba(255,165,0, 0.9);
    color:rgba(0,0,0,0.2);
}